<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}

    {# Bootstrap #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
</head>
<body class="h-100">
    <div class="container d-flex flex-column justify-content-center py-4">
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-sm-12 col-md-5 col-lg-5 py-5 px-5 auth-container">
                <img 
                src="{% static "img/instagram_black.png" %}" 
                class="img-fluid rounded mx-auto d-block pb-4" 
                style="max-width: 40%;"
                >
                {% block container %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-5 col lg 5 py-3 px-5 auth-container text-center">
                {% block more_info %}{% endblock %}
            </div>        
        </div>
    </div>

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}
</body>
</html>